<!-- 募集詳細表示画面 -->
<% provide(:title, @game_recruitment.game_title) %>
<div class="row">
  <aside class="col-md-4 game-recruitment-info">
    <section class="user_info">
      <h1>
        ゲームモード：<%= @game_recruitment.game_title %>
      <h1>
      <!-- リクエストが許可された場合にのみ表示 -->
      <h2>チャンネル名：<%= @channel_name %></h2>
      <!-- ここまで -->
      <p>
        詳細コメント：<%= @game_recruitment.description %><br>
        募集ユーザー：<%= @game_recruitment.user.name %><br>
        募集人数：<%= @game_recruitment.num_players %>
      </p>
    </section>
    <% if logged_in? %>
      <% if @game_recruitment.user_id == current_user.id %>
        <h2 class="approval_requests">
          参加希望のユーザーから<%= link_to "リクエスト", board_game_recruitment_request_path(@board, @game_recruitment) %>申請が届いたようです！</br>
          今すぐ確認してみましょう。
        </h2>
      <% else %>
        <%= render partial: 'requests/new' %>
      <% end %>
    <% else %>
      <%= link_to "ログイン", login_path %> することで参加リクエストの申請が可能になります。
    <% end %>
  </aside>
</div>