<!-- コメント作成フォーム -->
<% provide(:title, 'Create comment') %>
<h2>コメント作成</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3 comment-form">
    <%= form_with(model: [@board, Comment.new], url: board_comments_path(@board)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="form-group">
        <%= f.label :コメント内容 %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "コメント投稿", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>