<% provide(:title, 'Create board') %>
<div class="create-board-container">
  <h1 class="create-board-title">掲示板作成</h1>

  <div class="create-board-form">
    <%= form_with(model: @board) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :タイトル %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>